# Ignore everything in repository root 
/*

# Files to not ignore
!/.gitignore
!/z_devserver.bat
!/z_dev.bat
!/z_serverdev.bat
!/z_server.bat
!/z_bots.bat
!/z_client.bat

# Folder to not ignore
!/userraw
!/main/
/main/*
!/main/server.cfg

*.log
*.stat
logs/
demos/
missingasset.csv
userraw/scripts/_commands.gsc
userraw/scripts/_customcallbacks.gsc
